{% extends 'layout_main-drawer--dismissible_footer_topbar.html' %}
{% block page_description %}Innova, Innova Mujer, Digital Center, Centro de Atención{% endblock %}
{% block page_title %}Digital Center - Innova{% endblock %}
{% block body %}
<main class="s-main-content">
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-xs">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--align-middle container-justify-center">
                    <div class="mdc-typography--headline2 s-font-color-primary s-font-align-center s-font-family-poppins">
                        Digitaliza tu negocio
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-xs">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-4-tablet
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle">
                    <h4 class="mdc-typography--headline4">
                        Asesorate con nuestros expertos
                    </h4>
                    <p class="mdc-typography--body1">
                        Habla con nuestros expertos para que podamos asesorarte en como potenciar tu negocio.
                    </p>
                    <div class="mdc-card">
                        <a href="/chat/">
                            <div class="mdc-card__primary-action" tabindex="0">
                                <div class="mdc-card__media">
                                    <i class="material-icons s-font-color-primary" aria-hidden="true">support_agent</i>
                                </div>
                                <div class="mdc-typography--headline5 s-font-color-secondary">Habla con nosotras</div>
                                <div class="mdc-typography--subtitle2">Asesoría técnica</div>
                                <div class="mdc-card__ripple"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--align-middle s-font-align-center">
                    <div class="mdc-card">
                        <div class="mdc-card__primary-action" tabindex="0">
                            <div class="mdc-card__media mdc-card__media--16-9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/3Ku2u50weVY"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                </iframe>
                            </div>
                            <div class="mdc-typography--headline5 s-font-color-secondary">¡Digitalizate!</div>
                            <div class="mdc-typography--subtitle2">Digitaliza tu negocio con nuestros servicios</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-m">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle">
                    <h4 class="mdc-typography--headline4">
                        O, selecciona una de nuestras soluciones
                    </h4>
                    <p class="mdc-typography--body1">
                        Habla con nuestros expertos para que podamos asesorarte en como potenciar tu negocio.
                    </p>
                    <div class="mdc-card">
                        <a href="/chat/">
                            <div class="mdc-card__primary-action" tabindex="0">
                                <div class="mdc-card__media">
                                    <i class="material-icons s-font-color-primary" aria-hidden="true">support_agent</i>
                                </div>
                                <div class="mdc-typography--headline5 s-font-color-secondary">Habla con nosotras</div>
                                <div class="mdc-typography--subtitle2">Asesoría técnica</div>
                                <div class="mdc-card__ripple"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block body_script_section %}
{% endblock %}