{% extends 'layout_main-drawer--dismissible_footer_topbar.html' %}
{% block page_description %}Innova, Innova Mujer, Welcome, Home, Inicio, Bienvenida{% endblock %}
{% block page_title %}Welcome - Innova{% endblock %}
{% block body %}
<main class="s-main-content">
    <div class="container-color-landingpage">
        <div class="mdc-layout-grid container-size-xs">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-7-tablet
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle">
                    <h4 class="mdc-typography--headline4 s-font-color-on-primary">
                        Una experiencia única de capacitación, mentoría y servicios de desarrollo empresarial para MIPYMES lideradas por mujeres.
                    </h4>
                    <p>
                        <button class="mdc-button mdc-button--raised" aria-label="Ver Folleto" alt="Ver Folleto" data-action-type="redirect" 
                            data-action-val="http://innova.ciudadmujer.gob.hn/static/descargas/BROCHUREA5InnovaMujerHonduras.pdf">
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label">Ver Folleto</span>
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-color-on-primary">
        <div class="mdc-layout-grid container-size-xs">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet 
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle">
                    <div class="mdc-typography--body1">
                        Coordinado por:
                    </div>
                    <div class="container-logos">
                        <img src="../static/images/manifest/logo_cmh.svg" alt="Logo Ciudad Mujer" />
                        <img src="../static/images/manifest/logo_senprende.png" alt="Logo Senprende" />
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet 
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle">
                    <div class="container-carousel">
                        <div class="container-carousel--item container-carousel--item-active">
                            <img src="../static/images/assets/landingpage/carousel_women/celina.png" alt="Empresaria" />
                            <div class="mdc-card container-elevation-s">
                                <div class="mdc-typography--headline6 s-font-color-secondary">Celina Betancourt</div>
                                <div class="mdc-typography--subtitle1 s-font-color-on-background">ECOJOYERÍA</div>
                                <div class="mdc-typography--subtitle2 s-font-color-primary">Tegucigalpa, Francisco Morazán</div>
                                <div class="mdc-typography--body2">
                                    "Nunca dejes morir tus sueños, esfuérzate, persevera y hazlos realidad".
                                </div>
                            </div>
                        </div>
                        <div class="container-carousel--item container--hidden">
                            <img src="../static/images/assets/landingpage/carousel_women/ejecutiva.png" alt="Empresaria" />
                            <div class="container-carousel--item-margin"></div>
                        </div>
                        <div class="container-carousel--item container--hidden">
                            <img src="../static/images/assets/landingpage/carousel_women/karla.png" alt="Empresaria" />
                            <div class="mdc-card container-elevation-s">
                                <div class="mdc-typography--headline6 s-font-color-secondary">Karla Ávila</div>
                                <div class="mdc-typography--subtitle1 s-font-color-on-background">LUBRYLAV-CAR</div>
                                <div class="mdc-typography--subtitle2 s-font-color-primary">Tegucigalpa</div>
                                <div class="mdc-typography--body2">
                                    "Sueñen en grande y construyan con coraje, pero sobre todo decididas a triunfar".
                                </div>
                            </div>
                        </div>
                        <div class="container-carousel--item container--hidden">
                            <img src="../static/images/assets/landingpage/carousel_women/empresaria.png" alt="Empresaria" />
                            <div class="container-carousel--item-margin"></div>
                        </div>
                        <div class="container-carousel--item container--hidden">
                            <img src="../static/images/assets/landingpage/carousel_women/yaneth.png" alt="Empresaria" />
                            <div class="mdc-card container-elevation-s">
                                <div class="mdc-typography--headline6 s-font-color-secondary">Yaneth Peach</div>
                                <div class="mdc-typography--subtitle1 s-font-color-on-background">GREEN HOUSE HARVEST</div>
                                <div class="mdc-typography--subtitle2 s-font-color-primary">Choloma, Cortés</div>
                                <div class="mdc-typography--body2">
                                    "Conocimiento, pasión y determinación es lo que necesitas para transformar tus sueños".
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-m">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5-desktop mdc-layout-grid__cell--span-4-tablet 
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle">
                    <h4 class="mdc-typography--headline4 s-font-color-secondary">
                        Oportunidades para potenciar tu negocio a tu alcance
                    </h4>
                    <p class="mdc-typography--headline5 s-font-color-support">
                        Capacitaciones
                    </p>
                    <div class="mdc-typography--body1">
                        Aprende nuevas habilidades y buenas prácticas por medio de capacitaciones con instituciones de prestigio.
                    </div>
                    <p class="mdc-typography--headline5 s-font-color-support">
                        Digital Center
                    </p>
                    <div class="mdc-typography--body1">
                        ¡Digitaliza tu negocio! Una variedad de soluciones para potenciar tu negocio.
                    </div>
                    <p class="mdc-typography--headline5 s-font-color-support">
                        Marketplace
                    </p>
                    <div class="mdc-typography--body1">
                        Encuentra el especialista adecuado que te ayudará en tu proyecto, en cuestión de minutos.
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7-desktop mdc-layout-grid__cell--span-4-tablet 
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle">
                    <div class="container-justify-center--hor-ver">
                        <img class="resize-image-2fit-70 container-elevation-s" src="../static/images/assets/placeholders/learning.jpg" alt="Aprende Innova" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-color-on-primary">
        <div class="mdc-layout-grid container-size-s">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle">
                    <div class="mdc-typography--body1">
                        Socios principales:
                    </div>
                    <div class="container-logos container-logos--grayscale">
                        <img src="../static/images/manifest/logo_bid.png" alt="Logo BID" />
                        <img src="../static/images/manifest/logo_gdh.svg" alt="Logo Gobierno Digital Honduras" />
                        <img src="../static/images/manifest/logo_wefi.svg" alt="Logo We-Fi" />
                        <img src="../static/images/manifest/logo_gob_inam.png" alt="Logo INAM" />
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle">
                    <div class="mdc-typography--body1">
                        Aliados estratégicos:
                    </div>
                    <div class="container-logos container-logos--grayscale">
                        <img src="../static/images/manifest/logo_laboratoria.png" alt="Logo Laboratoria" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block bottombar %}
<button id="floatingButton" class="mdc-fab mdc-fab--fixed mdc-fab--whatsapp"
        aria-label="WhatsApp Contact Center" onclick="window.open('https://wa.me/50499993293');">
    <div class="mdc-fab__ripple"></div>
    <span class="mdc-fab__icon fa fa-whatsapp"></span>
</button>
{% endblock %}