{% extends 'layout_main-drawer--dismissible_footer_topbar.html' %}
{% block page_description %}Contact-Os, Welcome, Home, Inicio, Bienvenida{% endblock %}
{% block page_title %}Contact-Os Welcome{% endblock %}
{% block body %}
<main class="s-main-content">
    <div class="container-color-landingpage">
        <div class="mdc-layout-grid container-size-xs">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-6-tablet
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle">
                    <h5 class="mdc-typography--headline5 s-font-color-on-primary">
                        Una experiencia única de capacitación, mentoría, aceleración y servicios para la digitalización de negocios con instituciones 
                        de reconocimiento internacional y especialistas certificados en servicios de desarrollo empresarial para MIPYMES lideradas por mujeres.
                    </h5>
                    <p>
                        <button class="mdc-button mdc-button--raised" aria-label="Ver Folleto" alt="Ver Folleto" data-action-type="redirect" 
                            data-action-val="http://innova.ciudadmujer.gob.hn/static/descargas/BROCHUREA5InnovaMujerHonduras.pdf">
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label">Ver Folleto</span>
                        </button>
                    </p>
                </div>
                <!-- <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                    <img class="resize-image-2fit-90"
                        src="{{ url_for('static', filename='images/manifest/contact-os.svg') }}"
                        alt="Logo Contact-Os" />
                </div> -->
            </div>
        </div>
    </div>
    <div class="container-color-on-primary">
        <div class="mdc-layout-grid container-size-xs">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet 
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle">
                    <div class="mdc-typography--body1">
                        COORDINADO POR
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-m">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                    <img class="resize-image-2fit-70"
                        src="{{ url_for('static', filename='images/manifest/calendar.svg') }}" alt="Calendario" />
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--align-middle container-justify-center">
                    <h2 class="mdc-typography--headline2 s-font-color-primary s-font-align-center">
                        Reserva tu cita
                    </h2>
                    <h6 class="mdc-typography--headline6">
                        Puedes reservar tu cita de servicio.
                    </h6>
                    <p class="mdc-typography--body1 s-font-color-secondary">
                        Al registrarte en la plataforma, tendrás acceso a la opción de reservar cita en el día
                        y hora que te sea más conveniente. Nos ajustamos a tu horario para estar en <b>Contact-O</b>.
                    </p>
                    <p>
                        <button class="mdc-button mdc-button--outlined" aria-label="Register" alt="Register"
                        data-action-type="redirect" data-action-val="/login/">
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label">Registrate aquí</span>
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block bottombar %}
<button id="floatingButton" class="mdc-fab mdc-fab--fixed mdc-fab--whatsapp"
        aria-label="WhatsApp Contact Center" onclick="window.open('https://wa.me/911');">
    <div class="mdc-fab__ripple"></div>
    <span class="mdc-fab__icon fa fa-whatsapp"></span>
</button>
{% endblock %}